In [2]:
# Custom Mutable Sequences

In [3]:
class MClass:
    def __init__(self, name):
        self.name = name
    def __repr__(self):
        return f'MClass(name={self.name})'
    def __add__(self, other):
        print(f"Adding other to self")
        return 'Added other'
    def __iadd__(self, other): # inplace addition
        print(f"+= called")
        return 'Added other with mutation'

In [4]:
c1 = MClass('c1')
c2 = MClass('c2')

In [5]:
c1 + c2

Adding other to self

'Added other'

In [6]:
c1

MClass(name=c1)

In [7]:
c1+= 3

+= called

In [8]:
3 + c1 # cannot add int to c1 bse we havent implemented radd

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
# implementation 1
class MClass:
    def __init__(self, val):
        self.val = val
    def __repr__(self):
        return f'MClass(name={self.val})'
    def __add__(self, other):
        if isinstance(other, MClass):
            return self.val + other.val
        
    def __iadd__(self, other): # inplace addition
        if isinstance(other, MClass):
            self.val = self.val + other.val # you are changing object state but you are not creating a new object ie you are mutating the object 
            return self
    def __mul__(self, n):
        return MClass(self.val * n)
    def __imul__(self, n):
        self.val = self.val * n
        return self

In [48]:
c = MClass('dah')
d = MClass("Martha")

In [28]:
c, d

(MClass(name=dah), MClass(name=Martha))

In [29]:
c += d

In [30]:
print(c)

MClass(name=dahMartha)

In [31]:
id_d = id(d)

In [32]:
d += c
id(d) == id_d

True

In [33]:
d

MClass(name=MarthadahMartha)

In [35]:
d = d + c
id(d) == id_d

False

In [36]:
d

'MarthadahMarthadahMartha'

In [37]:
d += 8

TypeError: can only concatenate str (not "int") to str

In [38]:
d += 'dks'

In [39]:
d

'MarthadahMarthadahMarthadks'

In [55]:
g = MClass('Tatu')

In [56]:
g_id = id(g)

In [57]:
g *= 8
g

MClass(name=TatuTatuTatuTatuTatuTatuTatuTatu)

In [58]:
id(g) == g_id # inplace repetition

True

In [59]:
k = 3 * g # rmul is not implemented

TypeError: unsupported operand type(s) for *: 'int' and 'MClass'

In [73]:
# implementation 1
class MClass:
    def __init__(self, val):
        self.val = val
    def __repr__(self):
        return f'MClass(name={self.val})'
    def __add__(self, other):
        if isinstance(other, MClass):
            return self.val + other.val
        
    def __iadd__(self, other): # inplace addition
        if isinstance(other, MClass):
            self.val = self.val + other.val # you are changing object state but you are not creating a new object ie you are mutating the object 
            return self
    def __mul__(self, n):
        return MClass(self.val * n)
    def __rmul__(self, n): # right multiplication
        return self.__mul__(n)
    def __imul__(self, n):
        self.val = self.val * n
        return self
    def __contains__(self, other):
        return other in self.val

In [64]:
k = MClass('cameron')

In [65]:
3 * k

MClass(name=cameroncameroncameron)

In [68]:
(3).__mul__(8)

24

In [69]:
(7).__mul__(k) # if this fails, python tries k.__rmul__(7)

NotImplemented

In [70]:
k.__rmul__(7)

MClass(name=cameroncameroncameroncameroncameroncameroncameron)

In [71]:
# supporting in operator
# implement the __contains__ method

In [74]:
j = MClass('ta')
'a' in j

True

In [77]:
'j' in j

False