In [1]:
# Inplace concatenation and repetition

In [3]:
l1 = [1, 2, 3]
l2 = ['a', 'b']
id_l1, id_l2 = id(l1), id(l2)

In [4]:
l1 = l1 + l2
l1, id(l1) == id_l1

([1, 2, 3, 'a', 'b'], False)

In [5]:
l2 += l1 # Inplace concatenation
l2, id_l2 == id(l2)

(['a', 'b', 1, 2, 3, 'a', 'b'], True)

In [6]:
# For immutable types, there is no such thing as inplace

In [8]:
t1 = tuple(l1)
t2 = tuple(l2)
id_t1, id_t2 = id(t1), id(t2)
t1, t2

((1, 2, 3, 'a', 'b'), ('a', 'b', 1, 2, 3, 'a', 'b'))

In [9]:
t1 += t2
t1, id(t1) == id_t1

((1, 2, 3, 'a', 'b', 'a', 'b', 1, 2, 3, 'a', 'b'), False)

In [10]:
l2 += t1

In [11]:
l2, id(l2) == id_l2

(['a', 'b', 1, 2, 3, 'a', 'b', 1, 2, 3, 'a', 'b', 'a', 'b', 1, 2, 3, 'a', 'b'],
 True)

In [14]:
l2 += range(3, 8)
id(l2) == id_l2

True

In [15]:
a1 = [1, 2, 3]
a2 = ['a', 'b']
id_a1, id_a2 = id(a1), id(a2)
a1 = a1 * 3
a2 *= 3
print(a1, a2)
print(id_a1 == id(a1), id(a2) == id_a2)

[1, 2, 3, 1, 2, 3, 1, 2, 3] ['a', 'b', 'a', 'b', 'a', 'b']
False True