In [1]:
# sequence types

In [1]:
l = [1, 2, 3]
t = 1, 2, 3
s = 'java'

In [2]:
# set is an iterable but it is not a sequence type
# because there is no positioning of elements

In [3]:
# lists are mutable, so you can modify internal state of the object
l[1] = 10
l

[1, 10, 3]

In [4]:
# tuples and strings are immutable

In [5]:
'x' in ['x', 'z', 'y']

True

In [6]:
30 not in range(30)

True

In [8]:
type(range(20))

range

max(l), min(t)

In [9]:
max(l), min(t)

(10, 1)

In [10]:
# concatenation, they must of same type
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [13]:
[3, 4] + list((3, 4))

[3, 4, 3, 4]

In [17]:
# concatenation list to string
l1 = ['a', 'b', 'r', 'o', 'w']
s1 = 'merry'
''.join(list(s1) + l1)

'merryabrow'

In [16]:
''.join([str(x) for x in l])

'1103'

In [18]:
# repetition
'mark' * 5

'markmarkmarkmarkmark'

In [19]:
[1, 5] * 3

[1, 5, 1, 5, 1, 5]

In [20]:
fruit = 'banana'
list(enumerate(fruit))

[(0, 'b'), (1, 'a'), (2, 'n'), (3, 'a'), (4, 'n'), (5, 'a')]

In [25]:
fruit.index('a'), fruit.index('na')

(1, 2)

In [27]:
fruit.index('a', 4)

5

In [29]:
fruit.index("z") # if it doesnt find element, you get an exception

ValueError: substring not found

In [30]:
# slicing, a slice is a range of indexes you can specify

In [33]:
l1 = ['a', 'b', 'r', 'o', 'w']
l1[1:3]

['b', 'r']

In [35]:
l1[:4] # starts at 0

['a', 'b', 'r', 'o']

In [37]:
l1 = [1, 2]
l2 = l1[:]
l1 is l2 # slicing always returns a new object

False

In [38]:
l1 = [1, 2, 3, 4, 5]
l1[0:4:2]

[1, 3]

In [40]:
l1[4:0:-1] # reversing

[5, 4, 3, 2]

In [41]:
l1[::-2]

[5, 3, 1]

In [47]:
# Caveats
a = ['jag']
b = a * 2
print("b:", b)

print("Id of a:", id(a[0]))
print("Id of b[0]:", id(b[0]), "b[1]", id(b[1])) # same object

# is id(b[0][0])

b: ['jag', 'jag']
Id of a: 140238339288176
Id of b[0]: 140238339288176 b[1] 140238339288176

In [59]:
k = [[1, 2, 3]]
r = k * 2
k[0] is r[0] is r[1] # same object everywhere

import sys
sys.getrefcount(k[0]) - 1 # subtract 1 for the sys fn

3